body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes';
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  background-color: #f8f8f8;
  height: 100%;
  min-width: 320px;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('/assets/TTLakes-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('/assets/TTLakes-Bold.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
.header__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'TT Lakes Bold';
}
.header__text--small {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-right: 50px;
  font-family: 'Tt Lakes';
}

.header__text--small--img {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.header__text--small--img .img {
  width: 40px;
  height: 40px;
}
.menu {
  list-style: none;
  display: flex;
  padding-left: 24px;
  gap: 20px;
  flex-wrap: wrap;
  white-space: nowrap;
}
.menu-container {
  height: 80px;
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 24px;
  gap: 20px;
}
.menu-item {
  padding: 10px;
  color: #7e7e82;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}

.menu-item:hover {
  color: #333;
}

.menu-item:not(.active):hover {
  color: #999;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 12px;
  text-decoration: none;
  font-size: 16px;
  color: #7e7e82;
  transition: color 0.3s ease;
}

.nav-link .link {
  font-weight: 400;
}

.nav-link:hover .link {
  font-weight: bold;
  color: #000;
}
.bottom_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-wrap: nowrap;
}
.nav-link .title_highlight {
  position: absolute;
  height: 32px;
  width: 4px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #41f6d7;
  border-radius: 0px 10px 10px 0px;
  opacity: 0;
  transition: all 0.4s ease;
}

.title_highlight {
  position: absolute;
  height: 40px;
  width: 4px;
  left: 0;
  background-color: #41f6d7;
  border-radius: 0px 10px 10px 0px;
}

.nav-link:hover .title_highlight {
  opacity: 1;
  left: 0;
}

.header__burger {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.header__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
  padding: 20px;
}
.inside__box {
  display: flex;
  flex-direction: column;
}
.main__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.swiper-container-box {
  width: 100%;
  overflow: hidden;
}
.service-list {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.commercial_text {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}

.service-item:last-child {
  border-bottom: none;
}

.service-description {
  flex: 2;
  text-align: left;
  font-size: 16px;
  color: #333;
}

.service-price {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.service-time {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.service-button {
  flex: 1;
  background-color: #ff467e; /* �仂亰仂于舒� 从仆仂仗从舒 */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.service-button:hover {
  background-color: #ff2e65; /* 丶于亠� 仗�亳 仆舒于亠亟亠仆亳亳 */
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 1 1 20%;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  text-align: start;
}

.card a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
}

.card img {
  width: 30px;
  height: 30px;
  align-self: flex-end;
}
.swiper-container {
  display: flex;
  padding: 32px;
  margin: 0px;
  gap: 32px !important;
}
.swiper-container .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px !important;
  padding-left: 32px !important;
  width: 100vw;
  max-width: 600px;
}
.swiper-container .swiper-slide .logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.swiper-container .swiper-slide .go_button {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}
.show_more {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  padding-left: 8px;
}
.title__box__info--text {
  padding-left: 65px;
}

.swiper-container .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px !important;
  height: 72px !important;
  margin: 0 !important;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  padding: 0 16px;
}
.sidebar {
  background-color: #ffffff;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  overflow-y: auto;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.nav-link .link {
  font-size: 16px;
  color: #7e7e82;
  font-weight: 400;
}
.nav-link:hover {
  background-color: #41f6d7;
  font-family: 'TT Lakes';
  font-weight: bold;
  text-wrap: nowrap;
}
.nav-link:hover .title_highlight {
  color: #7e7e82;
}

.title_highlight {
  position: absolute;
  height: 32px;
  width: 4px;
  left: 0;
  background-color: #41f6d7;
  border-radius: 0px 10px 10px 0px;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar-content {
  overflow-y: auto;
  height: 100vh;
  width: 238px;
}

.sidebar-content .list {
  list-style: none;
}
.lists {
  padding-left: 24px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  row-gap: 12px;
}
.email_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.images_contacts {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.email_text {
  display: flex;
  padding-right: 24px;
  font-size: 16px;
  column-gap: 12px;
  row-gap: 12px;
}
.show__more__768 {
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 24px;
  padding-left: 24px;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 30px;
}
.header__container {
  display: none;
}
.header__burger__menu {
  width: 40px;
  height: 40px;
}

.header__container_logo__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-overlay.show {
  display: flex;
}
.line_divier {
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.text-block {
  width: 100%;
}
.card {
  width: 250px; /* Adjust width as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #999; /* Light gray color */
  margin: 0;
}

.card-description {
  font-size: 14px;
  color: #333;
  margin: 8px 0 16px;
}

.card-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px 10px;
  margin-bottom: 16px;
}

.card-price-label,
.card-time-label {
  color: #999;
  font-size: 14px;
}

.card-price-value,
.card-time-value {
  color: #333;
  font-size: 14px;
}

.service-card {
  display: none;
}
.card-button {
  background-color: #f95a73;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide.hidden {
  display: none;
}

.card-button span {
  margin-left: 8px;
  font-size: 16px;
}
.open-modal-btn {
  font-size: 16px;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Modal Overlay */
.modal-overlay,
.modal-overlay-second {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal Content */
.modal {
  background-color: white;
  width: 450px;
  max-width: 90%;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

/* Close Button */
.close-modal-btn {
  position: absolute;
  top: 74px;
  left: -62px;
  background-color: #f95a73;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Modal Title */
.modal-title {
  font-family: 'TT Lakes Bold', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
  border-left: 3px solid #41f6d7;
  padding-left: 10px;
  margin-top: 40px;
}

/* Form Styling */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-input,
.modal-textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-family: 'TT Lakes', sans-serif;
}

.modal-textarea {
  resize: none;
  height: 80px;
}

/* Agreement Text */
.modal-agreement {
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  margin-top: 10px;
  text-align: left;
}

.modal-agreement a {
  color: #f95a73;
  text-decoration: none;
}

/* Submit Button */
.submit-btn {
  background-color: #f95a73;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end; /* Aligns the button to the right */
}

.submit-btn span {
  margin-left: 8px;
}

/* Show Modal */
.modal-overlay.show {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Скрыто по умолчанию */
    height: 100%;
    width: 260px;
    background-color: #ffffff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    overflow-y: auto;
    padding: 20px 0;
    z-index: 1000;
  }
  .swiper-slide.hidden {
    display: none;
  }

  .service-list {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 40px;
  }
  /* 
  .sidebar {
    display: none;
  } */
  .header__container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 18px;
    width: 113%;
  }
  .header__container__menu {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .header__text--small {
    display: none;
  }
  .swiper-container .swiper-wrapper {
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px !important;
    padding-left: 32px !important;
    width: 100vw;
    max-width: 600px;
  }

  .swiper-wrapper .swiper-slide:last-of-type {
    display: none;
  }
  .swiper-container-box {
    width: 100%;
    overflow: hidden;
  }
  .large_text {
    display: none;
  }
  .test {
    display: flex;
    justify-content: space-between;
  }
  .main__content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .image-section {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .menu {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 600px;
  }
  .menu_container {
    overflow-x: auto;
  }

  .read-more-container {
    display: flex;
    margin-top: 15px;
  }

  .read-more {
    font-size: 16px;
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: start;
    gap: 5px;
  }

  .read-more:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 320px) {
  .swiper-slide.hidden {
    display: none;
  }

  .swiper-container .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px !important;
    padding: 16px;
  }
  .swiper-container .swiper-slide .logo_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .sidebar {
    display: none;
  }

  .header__container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    width: 100%;
    max-width: 320px;
  }

  .header__container__call {
    display: none;
  }
  .header__container_chat {
    display: none;
  }
  .header__container_profile {
    display: none;
  }
  .text-block_second-block {
    display: none;
  }
  .main__content {
    flex-direction: column;
    padding-left: 0;
    padding-right: 500px;
    max-width: 320px;
    width: 100%;
  }

  .text-container {
    max-width: 280px;
    padding: 0 10px;
  }

  .image-section {
    text-align: center;
    margin-top: 10px;
  }

  .image-section img {
    width: 90%; /* Scale the image to fit better */
    max-width: 280px;
  }

  /* Additional adjustments */
  .text-block p {
    font-size: 14px;
    line-height: 1.4;
  }

  .read-more-container {
    text-align: center;
    margin-top: 10px;
  }
  .swiper-container .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px !important;
    height: 72px !important;
    margin: 0 !important;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 0 16px;
  }
  .menu_container {
    overflow-x: auto;
  }
  .title__box__info--text {
    font-size: 10px;
    padding-left: 10px;
  }
  .service-list {
    display: none;
  }

  .service-card {
    display: inline;
    width: 250px; /* Adjust width as needed */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 16px; /* Space between elements */
  }

  .service-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #999; /* Light gray color */
    margin: 0;
  }

  .service-card-description {
    font-size: 14px;
    color: #333;
    margin: 8px 0;
  }

  .service-card-details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px 10px;
  }

  .service-card-price-label,
  .service-card-time-label {
    color: #999;
    font-size: 14px;
  }

  .service-card-price-value,
  .service-card-time-value {
    color: #333;
    font-size: 14px;
  }

  .service-card-button {
    background-color: #f95a73;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make button full-width */
    box-sizing: border-box;
  }

  .service-card-button span {
    margin-left: 8px;
    font-size: 16px;
  }
  .service-card-box {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap; /* Allow cards to wrap to a new line if the screen is too narrow */
  }
  .modal {
    width: 90%;
    padding: 15px;
    max-width: none; /* Remove any max-width */
    margin: 0 auto;
  }

  .modal-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .modal-input,
  .modal-textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .modal-textarea {
    height: 80px;
  }

  .modal-agreement {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    padding: 0 10px;
  }

  .submit-btn {
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 20px;
  }

  /* Button adjustments */
  .close-modal-btn {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
